#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #040005;
  background-image: url("https://www.transparenttextures.com/patterns/fabric-of-squares.png");
}
